<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script
      defer
      src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"
    ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <title>Video-Call</title>
  </head>
  <style>
    * {
      padding: 0;
      margin: 0;
    }

    body {
      font-family: cursive;
    }

    nav {
      background: #0082e6;
      height: 80px;
      width: 100%;
      margin-bottom: 10px;
    }

    label.logo {
      color: white;
      font-size: 35px;
      line-height: 80px;
      padding: 0 100px;
      font-weight: bold;
    }

    label.sub-text {
      float: right;
      margin-right: 20px;
      color: white;
      font-size: 20px;
      line-height: 80px;
      padding: 0 100px;
      font-weight: bold;
    }

    p.host {
      font-size: 30px;
      font-style: italic;
      margin-left: 530px;
      color: navy;
      margin-bottom: -1px;
      font-weight: bold;
    }

    @media (max-width: 952px) {
      label.logo {
        font-size: 30px;
        padding-left: 50px;
      }
    }

    #video-grid {
      width: 620px;
      display: grid;
      margin-left: 420px;
      gap: 10px;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 2px solid navy;
      border-radius: 15px;
    }
  </style>
  <body>
    <nav>
      <label class="logo">Facechat</label>
      <label class="sub-text">Video Calls for Everyone</label>
    </nav>
    <p class="host">Host</p>
    <div id="video-grid"></div>
    <div class="center grey-text" style="padding: 10px">
      Facechat for Video Calls
    </div>
  </body>
</html>
